/* Colors */
:root {
    /* Content */
    --content-primary: #FFFFFF;
    --content-secondary: #98959D;
    --content-tertiary: #666666;
    --content-brand: #9282FA;
    /* Background */
    --background-primary: #151515;
    --background-secondary: #1E1E1E;
    --background-tertiary: #23242C;
    --background-brand: #9282FA;
    --background-highlights: #BDB4FA;
    /* Border */
    --border-primary: #3E3C41;
    --border-secondary: #86818C;
    --border-divisor: #353339;
    --border-brand: #9282FA;
    /* Accent */
    --accent-blue: #027DF0;
    --accent-blue-light: #16487A;
    --accent-yellow: #F0DC02;
    --accent-yellow-light: #756E1B;
    --accent-orange: #F09102;
    --accent-orange-light: #75501B;
}

/* Typography */
    /* Low Priority Default */
    body {
        font-family: "Inter", sans-serif;
        color: var(--content-primary);
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
        text-transform: inherit;
    }
.title, h1 {
    font-family: "Inter Tight", sans-serif;
    color: var(--content-primary);
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    text-transform: inherit;
}
.paragraph-medium, p {
    font-family: "Inter", sans-serif;
    color: var(--content-secondary);
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    text-transform: inherit;
}
.paragraph-small, p.small {
    font-family: "Inter", sans-serif;
    color: var(--content-secondary);
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    text-transform: inherit;
}
.label-large, label.large, h2 {
    font-family: "Inter", sans-serif;
    color: var(--content-primary);
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: inherit;
}
.label-medium, label, h3 {
    font-family: "Inter", sans-serif;
    color: var(--content-primary);
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: inherit;
}
.label-small, label.small, h4, span {
    font-family: "Inter", sans-serif;
    color: var(--content-primary);
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    text-transform: inherit;
}
.link, a {
    font-family: "Inter", sans-serif;
    color: var(--content-tertiary);
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    text-transform: inherit;
    text-decoration: none;
    transition: all 0.4s ease;
}
.link:hover, a:hover {
    color: var(--content-primary);
    text-decoration: underline;
}

/* Components */

button{
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    color: var(--background-primary);
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    background: var(--content-brand);
    transition: all 0.4s ease;
    box-shadow: 0px 0px 18px 4px #9282FA33;
    cursor: pointer;
}
button:hover {

    background: #BDB4FA;
    box-shadow: 0px 0px 24px 4px #BDB4FA66;
}

section {
    background: var(--background-tertiary);
    border-radius: 12px;
}
section > header {
    padding: 14px 20px;
    border-bottom: 1px solid var(--border-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section > header > div {
    display: flex;
    align-items: center;
    gap: 12px;
}
ul {
    padding: 20px;
}
li {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-primary);
    gap: 16px;
}
li:last-child {
    border-bottom: none
}
.grow {
    flex-grow: 999;
}

.input-wrapper {
    display: flex;
    gap: 4px;
    align-items: center;
}
.input-wrapper {
    padding: 12px;
    border: 1px solid var(--border-primary);
    border-radius: 8px;
    transition: all 0.4s ease;
    color: var(--content-secondary);
    max-width: 373px;
}
.input-wrapper:hover, textarea:hover {
    border-color: var(--border-secondary);
}
.input-wrapper:focus-within, textarea:focus {
    border-color: var(--border-brand);
    color: var(--content-primary);
}
input,textarea, select {
    color: var(--content-secondary)
}

.remove {
    color: var(--content-tertiary) !important;
    transition: 0.4s ease all;
    cursor: pointer;
}
.remove:hover {
    color: var(--content-primary) !important;
    text-decoration: underline;
}


